<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <div class="text-center mb-5">
        <h1 class="display-4 text-white mb-3"><%= title %></h1>
        <div>
          <p>Welcome to My Grocery List, the app for your grocery tracking needs.</p>
          <p>To get started, first create an account:</p>
        </div>
        <ul class="list-unstyled text-white-50 mb-4">
          <li><a href="/create-account" class="btn btn-secondary mt-3">Create Account</a></li>
          <li><a href="/login" class="btn btn-secondary mt-3">Login</a></li>
        </ul>
        <img src="/images/grocery_bags.jpg" alt="Stock image of grocery bags" class="border border-2 border-dark rounded img-fluid">
      </div>
    </div>
  </div>
</div>
